* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Comic Sans MS', cursive;
    /* background-color: rgb(222, 221, 221); */
    /* background-color: whitesmoke; */
    background-color: white;
}

body.rtl {
    direction: rtl;
}