.editor {
    display: none;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
    /* padding: 40px; */
}

.editor canvas{
    background-color: rgb(222, 221, 221);
    margin:  10px;

}
.editor .tools {
    background-color: rgb(222, 221, 221);

    height: 300px;
    width: 400px;
    /* margin: 10px 10px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    place-items: center;
    /* padding: 20px; */
}

.editor .tools button {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.editor .tools img {
    height: 90%;
}

.editor .tools .text-box {
    height: 30px;
    grid-column: 1/6;
    border-radius: 10px;
    border: none;
    width: 250px;
    align-self: center;

}

.editor .tools .switch {
    grid-column: 2/3;
}

.editor .tools .font-up {
    grid-column: 1/2;

}

.editor .tools .change-font {
    border-radius: 10px;
    border: none;
    grid-column: 1/4;
    width: 200px;
    height: 30px;
}


.editor .tools .color {
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}

.editor .tools .heart{
    grid-column: 1/2;
}
.editor .tools .sticker{
    font-size: 35px;
   
}
.editor .tools .btn{
    background-color: rgb(255, 81, 0);
    color: white;
    height: 40px;
    width: 75px;
    border-radius: 5px;
    margin-block-start: 5px;
}

.editor .tools .btn:hover {
    background-color: rgb(205, 65, 0);
}

.editor .tools .download {
    grid-column: 2/3;
}

.editor .tools .download a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}