.gallery .key-word {
    cursor: pointer;
}

.gallery {
    margin: auto 10px;
}

.gallery .filter {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    position: relative;

}

.gallery .filter input {
    border-radius: 10px;
    justify-self: center;
    align-self: start;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 10rem;
    position: absolute;
    margin-block-start: 1em;
    
}

.gallery .flexible {
    height: 2em;
    background-color: rgb(255, 81, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive;
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    margin-inline-start: 1em;
}

.gallery .flexible:hover {
    background-color: rgb(205, 65, 0);
}

.gallery .key-words {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* position: relative; */
    grid-column: 2;
    grid-row: 2;

    /* padding-inline-end: 80px; */
}


.gallery .category {
    height: 25px;
    align-self: end;
}

.choose {
    display: flex;
    align-items: center;
    gap: 20px;

}

.upload {
    display: flex;
    align-items: center;
    gap: 20px;
}

.imgs-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1rem;
    margin: 10px auto;
    gap: 10px;
}

.imgs-container .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    /* Set the width of the container */
    padding-bottom: 100%;
    /* Maintain a 1:1 aspect ratio (height = width) */
    overflow: hidden;

}

.imgs-container .img-container img {
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Cover the entire container */
    height: 100%;
    /* Maintain the aspect ratio */
    object-fit: cover;
    transition: .1s;

}

.imgs-container .img-container img:hover {
border: 3px solid orange;
}
.saved-memes {
    /* margin: 10px 10px;
    display: grid;
    
    gap: 10px;
    height: minmax(800px ,auto); */


    display: grid;
    grid-column: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    gap: 10px;
    padding: 20px;
}

.saved-memes div {
    position: relative;

}

.saved-memes img {
    height: 150px;
    cursor: pointer;
}

.saved-memes button {
    height: 20px;
    background-color: rgb(255, 81, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    bottom: 5px;
    right: 55px;
}


.saved-memes button:hover {
    background-color: rgb(205, 65, 0);

}