.modal{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: orange;
    position: absolute;
    top: 90px;
    right: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.open{
    position: absolute;
    right: 0px;
}